<h1>Add a dose to <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description, placeholder: "dose" %>
  <%= f.association :ingredient %>

  <%= f.submit "Add Dose", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", cocktail_path(@cocktail), class: "btn btn-primary" %>
